<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <style>
                #submenu li {
            padding-bottom: 10px;
            border-bottom: 2px solid darkgray;
        }

        #submenu li:first-child {
            border-bottom: 2px solid black;
        }
    </style>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand text-start" href="#">Houses</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-dark rounded-0" href="#">Contact us</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container text-start pt-5">
  <div class="row g-2">
    <div class="col-6 ">
      <span class="p-3 fw-semibold fs-2 ">Architecture</span> <br>
        <span class="p-3 fs-3" style="color: gray">Bureau</span>
    </div>
    <div class="col-6">
      <div class="p-3">
          <img src="{% static 'h1.png' %}" class="">
      </div>
    </div>
    <div class="col-6">
      <div class="p-3">
          <img src="{% static 'h2.png' %}" class="">
      </div>
    </div>
    <div class="col-6">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deserunt earum eos odio velit? A animi cupiditate dolore eius, error et iusto, neque nesciunt perferendis quas quia sapiente tenetur voluptatem.</span>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center flex-column pt-5">
    <h1 class="fw-semibold">We offer variety of projects</h1>
    <div class="container tabs-container mb-5">
        <ul id="submenu" class="row list-unstyled text-center">
            <li class="col-4">All houses</li>
            <li class="col-4 text-muted">Store houses</li>
            <li class="col-4 text-muted">Frame houses</li>
        </ul>
    </div>
</div>
<div class="row">
    {% for re in houses %}
        <div class="col-4 px-5">
            <div class="card border-0 bg-light">
                <img src="{{ re.house.image.url }}" class="card-img-top" alt="..." style="height: 350px">
                <div class="card-body">
                    <h5 class="card-title">{{ re.house.name }}</h5>
                    <p class="card-text">{{ re.house.description }}</p>
                    <p class="card-text">{{ re.price }}</p>
                    <a href="{% url 'edit' re.house.id %}" class="btn btn-dark rounded-0">Edit </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>